.ads {
  padding: 2rem 0;
}

.ad {
  background: linear-gradient(65.33deg, #0072c5 30.96%, #80c2ff 84.87%);
  color: var(--text-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;

  &--wide {
    height: 20rem;
    font-size: 3.2rem;
    font-weight: bold;

    p {
      text-align: center;
    }
  }
}
