.articles {
  padding: 2rem 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .col {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      margin-bottom: 5rem;

      &:last-child {
        .articles__list__item {
          padding-right: 0;
        }
      }

      @media only screen and (max-width: 768px) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @media only screen and (max-width: 425px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .ad {
      min-height: 35rem;
      height: 100%;
      font-size: 3.2rem;
      font-weight: bold;
    }

    &__item {
      padding-right: 1.5rem;

      &__topic {
        display: block;
        color: var(--text-orange);
        font-weight: bold;
        margin: 1rem 0;
      }

      a {
        display: block;
        font-size: 2rem;
        margin: 1rem 0;
        font-weight: bold;
      }

      img {
        display: block;
        width: 100%;
        max-height: 25rem;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
      }

      &__meta {
        font-size: 1.2rem;
        color: var(--text-lighter);

        &__info {
          margin-right: 1rem;
        }
      }
    }
  }

  &__load-more {
    padding: 4rem 0;
    text-align: center;

    &__btn {
      padding: 1.5rem 2rem;
      border-radius: 8px;
      border: 1px solid var(--border-light);
      background-color: var(--background-white);
      color: var(--text-lighter);
      font-weight: bold;
    }
  }
}
