.carousel {
  overflow: hidden;
  margin: auto;

  &__slide {
    display: flex;
    width: 100%;
    transition: transform 0.4s ease-in-out;

    img {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 5px;
    }
  }

  &__actions {
    position: relative;

    &__btn-group {
      position: absolute;
      bottom: 2rem;
      left: 2rem;

      &__btn {
        background: rgba(28, 28, 28, 0.7);
        color: var(--text-white);
        border: none;
        font-size: 1.8rem;
        width: 3.4rem;
        height: 3.4rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      .btn--prev {
        border-radius: 50px 0px 0px 50px;
      }

      .btn--next {
        border-radius: 0px 50px 50px 0px;
      }
    }

    &__current {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      background: rgba(28, 28, 28, 0.7);
      border-radius: 50px;
      color: var(--text-white);
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
