:root {
  --text-dark: rgba(0, 0, 0, 0.8);
  --text-lighter: rgba(0, 0, 0, 0.5);
  --text-white: #ffffff;
  --text-orange: #f05a28;

  --background-white: #ffffff;
  --background-orange: #f05a28;
  --border-dark: #d9d9d9;
  --border-light: #e1e1e1;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-dark);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
figure {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
