.footer {
  padding: 1.5rem 0;
  border-top: 1px solid var(--border-light);

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: var(--text-lighter);

    p {
      font-size: 1.4rem;

      @media only screen and (max-width: 425px) {
        text-align: center;
        flex: 0 0 100%;
        margin-bottom: 2rem;
      }
    }

    &__links {
      display: flex;

      & > li {
        margin-left: 1rem;
      }

      a:hover,
      a:focus {
        color: var(--text-dark);
      }

      @media only screen and (max-width: 425px) {
        flex: 0 0 100%;
        justify-content: space-around;
      }
    }
  }
}
