.form--open {
  .search {
    display: none;
  }

  .header__inner .close {
    display: inline-block;
  }

  .header__inner__form {
    display: inline-block;
  }

  .header__inner__logo {
    display: none;
  }
}

.header {
  border-bottom: 1px solid var(--border-light);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9rem;

    &__logo {
      img {
        max-width: 100%;

        @media only screen and (max-width: 375px) {
          max-width: 80%;
        }
      }
    }

    .close {
      display: none;
    }

    &__form {
      display: none;
      width: 80rem;
      max-width: 80rem;

      &__input {
        border: none;
        border-left: 2px solid #c4c4c4;
        padding: 1.5rem 3rem;
        width: 100%;
        font-size: inherit;
        font-family: inherit;
      }
    }

    &__btn-search {
      background: transparent;
      border: none;
    }
  }
}
