.hero-top {
  padding: 2rem 0;
  border-bottom: 1px solid var(--border-light);

  &__inner {
    display: flex;
    flex-wrap: wrap;

    .col {
      flex: 0 0 25%;

      &:not(:last-child) {
        padding-right: 1rem;
      }

      @media only screen and (max-width: 990px) {
        flex: 0 0 50%;
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }

      @media only screen and (max-width: 425px) {
        flex: 0 0 100%;
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }

    &__article-link {
      display: flex;
      align-items: center;

      &__content {
        padding: 0 0.5rem;

        h5 {
          margin-bottom: 0.8rem;
          font-size: 1.4rem;
        }

        p {
          font-size: 1.2rem;
        }
      }

      img {
        display: inline-block;
        margin-right: 1rem;
        width: 7.3rem;
        height: 7.3rem;
        object-fit: cover;
        object-position: center;
        border-radius: 0.8rem;
      }
    }
  }
}
