.hero {
  padding: 2rem 0;
  display: grid;
  grid-template:
    'a a b b' 1fr
    'a a c d' 1fr / 1fr 1fr 1fr 1fr;
  gap: 1.5rem;

  @media only screen and (max-width: 768px) {
    grid-template:
      'a a b b' 1fr
      'c c d d' 1fr / 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
  }

  @media only screen and (max-width: 425px) {
    grid-template:
      'a a a a' 1fr
      'b b b b' 1fr
      'c c c c' 1fr
      'd d d d' 1fr / 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
  }

  &__article {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(16, 15, 15, 0) 23.76%,
        rgba(16, 15, 15, 0.91) 89.5%,
        rgba(16, 15, 15, 0.93) 96.69%
      );
      border-radius: 8px;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
    }

    figcaption {
      z-index: 1;
      position: absolute;
      bottom: 3rem;
      left: 3rem;
      width: 80%;

      @media only screen and (max-width: 425px) {
        left: 2rem;
        bottom: 2rem;
        width: 90%;
      }
    }

    &__title {
      color: var(--text-white);
      font-size: 2.1rem;

      @media only screen and (max-width: 768px) {
        font-size: 1.8rem;
      }
    }

    &__meta {
      margin-top: 1rem;
      color: rgba(255, 255, 255, 0.7);
      font-size: 1.1rem;

      &__info {
        display: inline-block;
        margin-right: 1rem;
      }
    }

    &--a {
      grid-area: a;
    }

    &--b {
      grid-area: b;
    }

    &--c {
      grid-area: c;
      .hero__article__title {
        font-size: 1.6rem;
      }
    }

    &--d {
      grid-area: d;
      .hero__article__title {
        font-size: 1.6rem;
      }
    }
  }
}
