.tooltip {
  position: relative;

  &__text {
    visibility: hidden;
    width: 120px;
    background-color: rgba(28, 28, 28, 0.9);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }

  &:hover &__text,
  &:focus &__text {
    visibility: visible;
  }
}
