@import '_common.scss';
@import '_container.scss';
@import '_header.scss';
@import '_footer.scss';
@import '_hero-top.scss';
@import '_carousel.scss';
@import '_tooltip.scss';

.article-container {
  padding: 4rem 0;
  max-width: 80rem;
  margin: 0 auto;

  @media only screen and (max-width: 768px) {
    max-width: 90%;
  }

  @media only screen and (max-width: 425px) {
    max-width: 100%;
  }

  &__image {
    margin-bottom: 3rem;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    &__sharing {
      flex: 0 0 15%;

      @media only screen and (max-width: 425px) {
        flex: 0 0 100%;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-evenly;
      }

      a {
        background-color: var(--background-white);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        padding: 1.3rem;
        border: 1px solid var(--border-dark);
        border-radius: 8px;
        font-size: 2rem;

        &:focus,
        &:hover {
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        }
      }

      li {
        margin-bottom: 1rem;
      }
    }

    &__text {
      flex: 0 0 85%;
      color: #393939;

      @media only screen and (max-width: 425px) {
        flex: 0 0 100%;
      }

      &__topic {
        font-size: 2.4rem;
        color: var(--text-orange);
        font-weight: bold;
      }

      &__title {
        font-size: 3rem;
        text-align: justify;
        margin: 1.5rem 0;
      }

      &__meta {
        font-size: 1.2rem;
        color: var(--text-lighter);

        &__info {
          display: inline-block;
          margin-right: 2rem;
        }
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 1rem 0;
      }

      h3 {
        font-size: 2.1rem;
      }

      h4 {
        font-size: 1.8rem;
      }

      h5 {
        font-size: 1.6rem;
      }

      h6 {
        font-size: 1.4rem;
      }

      p {
        margin: 1.5rem 0;
      }

      p,
      blockquote {
        line-height: 2.3rem;
        text-align: justify;
      }

      blockquote {
        position: relative;
        display: block;
        padding-left: 1.5rem;
        margin: {
          top: 3rem;
          bottom: 3rem;
          left: 10rem;
          right: 0;
        }
        font-weight: 500;
        font-style: italic;
        border-left: 2px solid var(--text-orange);

        &::before {
          content: '”';
          font-family: sans-serif;
          display: inline-block;
          position: absolute;
          font-size: 15rem;
          top: 7rem;
          left: -10rem;
        }

        footer {
          font-style: normal;
          color: var(--text-orange);
          font-weight: bold;
        }
      }

      mark {
        color: var(--text-white);
        background-color: #505050;
      }

      .list-demo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        li {
          padding: 0.8rem 0;
        }

        ol {
          list-style-type: decimal;
        }

        ul {
          list-style-type: disc;
          margin-bottom: 2rem;
        }
      }

      .tags {
        margin: 2rem 0;

        &__tag {
          border-radius: 8px;
          display: inline-block;
          margin-top: 1.5rem;
          margin-right: 1.5rem;
          border: 1px solid var(--border-dark);
          color: #8c8c8c;
          padding: 0.5rem 1.5rem;

          &:hover,
          &:focus {
            border-color: #393939;
            color: #393939;
          }

          &--primary {
            border-color: #393939;
            pointer-events: none;
            background-color: #393939;
            color: var(--text-white);
            font-weight: bold;
          }
        }
      }
    }
  }
}

.articles {
  padding: 4rem 0;
  border-top: 1px solid var(--border-dark);

  h2 {
    text-align: center;
    margin-bottom: 3rem;
    color: #6f6f6f;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .col {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      margin-bottom: 5rem;

      &:last-child {
        .articles__list__item {
          padding-right: 0;
        }
      }

      @media only screen and (max-width: 768px) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @media only screen and (max-width: 425px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    &__item {
      padding-right: 1.5rem;

      &:hover a {
        color: var(--text-orange);
      }

      &:hover &__cover__topic {
        background-color: var(--text-orange);
      }

      &__cover {
        position: relative;

        span {
          background: rgba(28, 28, 28, 0.7);
          text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
          color: var(--text-white);
        }

        &__icon {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 3.4rem;
          height: 3.4rem;
          border-radius: 50%;
          position: absolute;
          bottom: 2rem;
          left: 2rem;
        }

        &__topic {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem 1rem;
          border-radius: 50px;
          position: absolute;
          bottom: 1.8em;
          left: 7rem;
          font-style: italic;
          font-weight: bold;
          font-size: 1.3rem;
        }
      }

      a {
        display: block;
        font-size: 2.1rem;
        margin: 2rem 0;
        font-weight: bold;
        color: #333333;

        &:focus {
          color: var(--text-orange);
        }
      }

      img {
        display: block;
        width: 100%;
        max-height: 25rem;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
      }

      &__meta {
        font-size: 1.2rem;
        color: var(--text-lighter);

        &__info {
          margin-right: 1rem;
        }
      }
    }
  }
}
