@import '_common.scss';
@import '_container.scss';
@import '_header.scss';
@import '_footer.scss';
@import '_hero-top.scss';
@import '_hero.scss';
@import '_ads.scss';
@import '_articles.scss';
@import '_carousel.scss';

.carousel {
  &__actions {
    &__btn-group {
      &__btn {
        background: transparent;
        font-size: 3rem;
        border: none;
        color: rgba(255, 255, 255, 0.5);
      }
    }

    &__current {
      background: rgba(255, 255, 255, 0.5);
      color: var(--text-lighter);
      font-weight: bold;
      border-radius: 8px;
    }
  }
}
