@import '_common.scss';
@import '_container.scss';
@import '_header.scss';
@import '_footer.scss';

.not-found {
  padding: 2rem 0;
  min-height: calc(100vh - 15rem);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__image {
    img {
      max-width: 100%;
    }
  }

  &__description {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: #202020;
      margin: 2rem 0;
      font-size: 3.2rem;
    }

    p {
      color: #828282;
      margin: 3rem 0;
      text-align: center;
    }

    a {
      font-weight: bold;
      margin-top: 1rem;
      background-color: var(--background-orange);
      color: var(--text-white);
      padding: 1.5rem 2rem;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      border-radius: 35px;
    }
  }
}
